.NotFoundResult {
  background: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 282px;
  flex-direction: column;
}

.NotFoundResult__image {
  margin-top: 80px;
}

.NotFoundResult__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 30px 0 0;
}

.NotFoundResult__subtitle {
  max-width: 288px;
  margin: 16px 0 80px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}
