.NotFoundResult {
  background: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.NotFoundResult__image {
  margin-top: 80px;
}

.NotFoundResult__title {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 30px 0 0;
}

.NotFoundResult__subtitle {
  max-width: 288px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 16px 0 80px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .NotFoundResult__image {
    margin-top: 40px;
  }
  .NotFoundResult__title {
    margin: 24px 0 0;
  }
  .NotFoundResult__subtitle {
    margin: 16px 0 40px;
  }
}

@media screen and (max-width: 650px) {
  .NotFoundResult__image {
    margin-top: 32px;
  }
  .NotFoundResult__title {
    margin: 24px 0 0;
  }
  .NotFoundResult__subtitle {
    margin: 16px 0 32px;
  }
}
