.Search {
  background: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg)
    center/cover no-repeat;
  min-height: 546px;
}

@media screen and (max-width: 768px) {
  .Search {
    min-height: 400px;
  }
}

@media screen and (max-width: 425px) {
  .Search {
    background: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-mobile.jpg)
      center/cover no-repeat;
    min-height: 536px;
  }
}
