.NewsCard {
  width: 400px;
  min-height: 576px;
  position: relative;
  border-radius: 16px;
  background-color: #fff;
}

.NewsCard__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.NewsCard__mark-container {
  border: none;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewsCard__mark {
  transition: all 0.2s;
}

.NewsCard__mark-inner {
  transition: all 0.2s;
}

.NewsCard__mark-container:hover .NewsCard__mark-inner {
  stroke: #1a1b22;
}

.NewsCard__mark_marked {
  fill: #2f71e5;
}

.NewsCard__mark_marked:hover {
  opacity: 0.8;
}

.NewsCard__mark_marked .NewsCard__mark-inner {
  stroke: #2f71e5;
}

.NewsCard__mark-container:hover .NewsCard__mark_marked .NewsCard__mark-inner {
  stroke: #2f71e5;
}

.NewsCard__content {
  display: flex;
  flex-direction: column;
  height: 304px;
}

.NewsCard__date {
  margin: 20px 24px 0;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

.NewsCard__title {
  margin: 12px 24px 0;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.NewsCard__subtitle {
  margin: 16px 24px 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.NewsCard__source {
  text-transform: uppercase;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  margin: auto 24px 24px;
}

.NewsCard__tooltip {
  position: absolute;
  top: 24px;
  right: 69px;
  width: 182px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.2s;
}

.NewsCard__tooltip_active {
  opacity: 1;
}

